
@import 'normalize.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}
